{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h1 class="text-center py-2">User {{type}}</h1>
<form method="post" action="" class="m-auto" style="width:50%">
    {% csrf_token %}
    <!-- {{form | crispy }} -->
    {% for fm in form %}
        <div class="mb-3">
            {{ fm.label }}
            {{ fm }}
            {{ fm.errors}}
        </div>
    {% endfor %}
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn bg-primary text-white mb-5" type="submit">Submit </button>
    </div>
</form>
{% endblock %}